header{
    background-color: rgb(41, 41, 41);
    padding-right: 2%;
    padding-left: 0;
    .logo{
        padding-top: 1%;
    }
}
body{
    background-color: rgb(26, 26, 26);
    padding-bottom: 5%;
}

.carousel-caption{
    font-size: large;
    p   { font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h5  {
        font-weight: bold;
    }
}
.btn-custom {
    background-color: rgb(255, 255, 255);
    color: rgbrgb(26, 26, 26);
    border: none;
}
.btn-custom:hover {
    background-color: rgb(26, 26, 26);
    color:rgb(255, 255, 255)
}