header{
    background-color: rgb(41, 41, 41);
    padding-right: 2%;
    padding-left: 0;
    .logo{
        padding-top: 1%;
    }
}
body{
    background-color: rgb(26, 26, 26);
}
.main {
    background-image: url(https://www.mitsubishi-motors.com/en/newsrelease/images/download/2022/11/p_221121_m_1402_img_01.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    margin-bottom: 1rem;
    .btn-custom {
        background-color: rgb(41, 41, 41);
        color: white;
        border: none;
        padding-left: 5rem;
        padding-right: 5rem;
        border-radius: 0.5rem;
    }
    .btn-custom:hover {
        background-color: rgb(255, 255, 255);
        color:black
    }
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        font-size: 5rem;
        color: white;
        text-shadow: 3px 3px 10px rgb(0, 0, 0), -3px -3px 10px black, -3px 3px 10px black, 3px -3px 10px black;
        font-style: italic;
        padding-top: 1rem;
    }
}
.second {
    background-image: url(https://images.topgear.com.ph/topgear/images/2023/11/15/1-1700021762.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    margin-bottom: 1rem;
    .btn-custom {
        background-color: rgb(41, 41, 41);
        color: white;
        padding-left: 5rem;
        padding-right: 5rem;
        border-radius: 0.5rem;
    }
    .btn-custom:hover {
        background-color: rgb(255, 174, 0);
        color:black
    }
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        font-size: 5rem;
        color: rgb(255, 174, 0);
        text-shadow: 3px 3px 10px rgb(0, 0, 0), -3px -3px 10px black, -3px 3px 10px black, 3px -3px 10px black;
        font-style: italic;
        padding-top: 1rem;
    }
}
.third {
        background-image: url(https://www.mitsubishi-motors.com.ph/content/dam/mitsubishi-motors-ph/images/site-images/events/axcr-2024/img_11.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        color: white;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2rem;
        margin-bottom: 1rem;
        .btn-custom {
            background-color: rgb(41, 41, 41);
            color: white;
            padding-left: 5rem;
            padding-right: 5rem;
            border-radius: 0.5rem;
        }
        .btn-custom:hover {
            background-color: red;
            color:black
        }
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;
            font-size: 5rem;
            color: rgb(255, 0, 0);
            text-shadow: 3px 3px 10px rgb(0, 0, 0), -3px -3px 10px black, -3px 3px 10px black, 3px -3px 10px black;
            font-style: italic;
            padding-top: 1rem;
        }
        }
.foot {
    text-align: justify;
    color: white;
    background-color: rgb(41, 41, 41);
    .card-title{
        font-size:xx-large;
    }
    .btn-custom {
        background-color: rgb(26, 26, 26);
        color: white;
        border: none;
        font-variant: small-caps;
    }
    .btn-custom:hover {
        background-color: rgb(255, 255, 255);
        color:black
    }
    .card-img-top {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}