header{
    background-color: rgb(41, 41, 41);
    padding-right: 5%;
    padding-left: 5%;
}
body{
    background-color: rgb(26, 26, 26);
}
.main {
    background-image: url(https://www.mitsubishi-motors.com/en/newsrelease/images/download/2022/11/p_221121_m_1402_img_01.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}